<%= render  :partial =>  "/layouts/top" %>
<script>
function showMsg(msg){
          alert(msg);
        }
 function ajaxRequest(control, url){
           var httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = function() {
                handleAjaxRequest(control, httpRequest);
            };
            try {
                httpRequest.open('GET', url, true);
                httpRequest.send(null);
            } catch(e){
            }
        }

        function handleAjaxRequest(control, aXMLHttpRequest) {
          if (!aXMLHttpRequest) return;

          if (aXMLHttpRequest.readyState == 4 && aXMLHttpRequest.status == 200) {

              var result = aXMLHttpRequest.responseText;

              if (control != null){
                control.innerHTML = result;
              } else {
                eval(result);

                window.location.reload();
              }
          }

        }
</script>

<table cellpadding=5 width='100%'>
  <tr>
    <td>
      <table cellpadding=5 width='100%'><tr><th style='border: 1px solid #ccc; background-color: #666; color: #eee;'>Name</th><th style='border: 1px solid #ccc; background-color: #666; color: #eee;'>Description</th><th style='border: 1px solid #ccc; background-color: #666; color: #eee;'>&nbsp;</th></tr>
        <% @product_types.each do |product_type| %>
          <tr>
            <td style='border: 1px solid #ccc;'><%= product_type.name rescue '&nbsp;' %></td>
            <td style='border: 1px solid #ccc;'><%= product_type.description rescue '&nbsp;' %></td><td style='border: 1px solid #ccc;'><table cellpadding=5 width='100%'><tr><td><img src='/images/pencil.png' onclick='window.location="/product_type/edit?product_type=" + <%= product_type.epics_product_type_id %>' style='padding-top: 3px; cursor: pointer;'/></td><td><img src='/images/delete.png' onclick='var response = confirm("Do you really want to delete the selected entry?"); if(response) ajaxRequest(null, "/product_type/void?product_type_id=" + <%= product_type.epics_product_type_id %>)' style='padding-top: 3px; cursor: pointer;'/></td></tr></table></td></tr>

        <% end %>
      </table>
    </td>
  </tr>

      <a style="position: absolute; width:200px; left: 45%; top: 82%" class="buttons" onclick='window.location="/product_type/new"'>Add</a>
</table>

<style>
  .buttons {
    background-color: grey;
    border-bottom: 1px outset #EEEEEE;
    border-style: outset;
    border-top: 1px outset #EEEEEE;
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(0, 116, 204);
    background-image: -moz-linear-gradient(center top , rgb(0, 136, 204), rgb(0, 85, 204));
    background-repeat: repeat-x;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(0, 0, 0, 0.1);
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(0, 0, 0, 0.1);
    border-top-color: rgba(0, 0, 0, 0.1);
    font-size: 1.3em;
  }

</style>
