<%= render  :partial =>  "/layouts/top" %>
<script type="text/javascript">

    function  setup(){

        document.getElementById('option').setAttribute('src', '/images/close.png')
    }
    setTimeout('setup()', 10)
</script>

<script>
    function removeFromCart(node){
        product_id = node.getAttribute('id');
        jQuery.ajax({
            type: "POST",
            url: "/orders/remove_reimburse_from_cart",
            data: "product_id=" + product_id,
            success: function(){
                elements = document.getElementsByTagName("tr")
                for(i=0; i<elements.length; i++){
                    if (elements[i].getAttribute('product_id')){
                        if (elements[i].getAttribute('product_id') == product_id){
                            elements[i].parentNode.removeChild(elements[i]);
                            break;
                        }
                    }
                }
            }

        });
    }

    function issueItems() {

        submitForm = document.createElement("FORM");
        submitForm.setAttribute("type","hidden");
        document.body.appendChild(submitForm);
        submitForm.method = "POST";

    <%(@return_cart.items || []).each do |cart| %>
        newElement = document.createElement("input")
        newElement.setAttribute("name",'item_quantity["<%=cart.name%>"]')
        newElement.setAttribute("type","hidden");
        newElement.value = "<%=cart.quantity%>";
        submitForm.appendChild(newElement);

    <%if cart.expiry_date%>
        newElement = document.createElement("input")
        newElement.setAttribute("name",'item_expiry_date["<%=cart.name%>"]')
        newElement.setAttribute("type","hidden");
        newElement.value = "<%=cart.expiry_date%>";
        submitForm.appendChild(newElement);
    <%end%>
    <%end%>

        submitForm.action= "/orders/dispense?type='return'";
        submitForm.submit();

    }

</script>


<style>
    .left-content {
        float: left;
        width:75%;
    }

    .right-content {
        float: right;
        width:25%;
    }

    .main-content {
        width: 98%;
    }

    .menu-buttons {
        padding: 10px;
        float: right;
        width: 30%;
        margin-right: 10px;
        border-style: solid;
        border-width: 0px 0px 0px 1px;
    }

    .menu-buttons a {
        width: 95%;
    }

    .buttons {
        border-bottom: 1px outset #EEEEEE;
        border-style: outset;
        border-top: 1px outset #EEEEEE;
        color: white;
        display: block;
        padding: 14px;
        text-align: center;
        text-decoration: none;
        box-shadow:inset 0px 1px 0px 0px #bbdaf7;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
        background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
        background-color:#79bbff;
        -moz-border-radius:42px;
        -webkit-border-radius:42px;
        -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
        -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
        border-radius:42px;
        border:1px solid #84bbf3;
        border-bottom-color: rgba(0, 0, 0, 0.25);
        border-left-color-ltr-source: physical;
        border-left-color-rtl-source: physical;
        border-left-color-value: rgba(0, 0, 0, 0.1);
        border-right-color-ltr-source: physical;
        border-right-color-rtl-source: physical;
        border-right-color-value: rgba(0, 0, 0, 0.1);
        border-top-color: rgba(0, 0, 0, 0.1);
        font-size: 1.3em;
        font-weight:bold;
    }

    .div-products {
        width: 98%;
        overflow: auto;
        border-width: 1px 0px 0px 0px;
        border-style: solid;
    }
    .tr_blue td {
        background-color: rgb(196, 255, 196)
    }

    .tr_white td {
    }
    .img {
        float:right;
        height: 60px;
    }

    #borrowed_items_two {
      background-color: InactiveCaption;
      height: 395px;
      overflow-x: auto;
      border-style: outset;
      font-size: 20px;
      border-collapse: collapse;
    }

    .borrowed_items th{
      text-align: left;
      padding-left: 10px;
    }

    .borrowed_items td{
      text-align: left;
      padding-left: 10px;
    }

    .borrowed_items {
      border-collapse: collapse;
    }
    .page-title{
        background-color: #ffffff;
        font-size: 30px;
    }

</style>

<%= stylesheet_link_tag "alert-popup" %>                                   
<%= javascript_include_tag "alert-popup"%>

<div class="main-content">

  <div class="left-content">
    <table style="width:100%;" >
      <tr>
        <th style="text-align: left; width: 20%; font-size: 25px;font-weight: bold">Returning to</th>
        <td style="width:10px;">:</td>
        <td style="text-align: left;font-size: 25px;"><%= session[:return_details][:return_to] %></td>
      </tr>
      <tr>
        <th style="text-align: left; width: 20%;font-size: 25px;font-weight: bold ">Batch Borrowed</th>
        <td style="width:10px;">:</td>
        <td style="text-align: left;font-size: 25px;"><%= session[:return_details][:return_batch]%></td>
      </tr>
      <tr>
        <th colspan="3" style="text-align: left;">&nbsp;</th>
      </tr>
    </table>

    <br />
    <br />
    <div class="div-products">

      <table style="width:100%;">
        <tr>
          <th colspan ="4" style="text-align: left;font-size: 20px">
            Issued Item Details
          </th>
        </tr>

        <tr>
          <th style="text-align: left; width: 10%;background-color: silver;">Item Name</th>
          <th style="text-align: left; width: 10%;background-color: silver;">Item Code</th>
          <th style="text-align: left; width: 10%;background-color: silver;">Item Quantity</th>
          <th style="text-align: left; width: 10%;background-color: silver;">Expiry Date</th>
          <th style="text-align: left; width: 10%;background-color: silver;">&nbsp;</th>
        </tr>
      </table>
    </div>

    <div class="div-products" style="border: 0px; height: 330px;overflow: auto;">
      <table style="width:100%;">
        <%
           for item in @return_cart.items
             tr_class = cycle("blue", "white")
        %>

            <tr class ="tr_<%= tr_class %>" product_id="<%= item.product.id %>">
              <td style="text-align: left; width: 10%;"><%=  item.name %></td>
              <td style="text-align: left; width: 10%;"><%=  item.product.product_code rescue "Code not found"  %></td>
              <td style="text-align: left; width: 10%;"><%=  item.quantity %></td>
              <td style="text-align: left; width: 10%;"><%=  item.expiry_date.to_date.strftime("%d - %b - %Y") rescue "Does not expire" %></td>
              <td style="width: 10%;"><%= image_tag("delete.png",:id => item.product.id, :class=>"img", :onclick=>"removeFromCart(this)") %></td>
            </tr>
        <% end rescue []%>
      </table>
    </div>



  </div>


  <div class="right-content">

    <table style="width: 100%;">
      <tr style="line-height: 50px;">
        <td><%= link_to "Add Item", '/orders/select_item_to_return', :class => 'buttons' %></td>
      </tr>

      <tr style="line-height: 50px;">
        <td>&nbsp;</td>
      </tr>

      <tr style="line-height: 50px;">
        <td><%= link_to "View borrowed Items", "javascript:viewItems();", :class => 'buttons' %></td>
      </tr>

      <tr style="line-height: 50px;">
        <td>&nbsp;</td>
      </tr>

      <tr style="line-height: 50px;">
        <td>&nbsp;</td>
      </tr>

      <tr style="line-height: 50px;">
        <td><%= link_to "Return Items", "javascript:issueItems();", :class => 'buttons' %></td>
      </tr>

    </table>

  </div>

</div>


<div id="shadow" class="opaqueLayer"> </div>                                
  <div id="question" class="questionLayer" style="font-size: 0.9em;">       
  </div>                                                                    
</div>

<script>

    function viewItems() {
      batch_num = "<%= session[:return_details][:return_batch]%>";
      showLayer();
      if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari  
        xmlhttp=new XMLHttpRequest();                                             
      }else{// code for IE6, IE5                                                  
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");                           
      }                                                                           
      xmlhttp.onreadystatechange=function() {                                     
        if (xmlhttp.readyState==4 && xmlhttp.status==200) {                       
          var results = xmlhttp.responseText;                                     
          if(results) {                                                         
            popup = document.getElementById('question');
            popup.innerHTML = results;                                 
          }                                                                     
        }                                                                         
      }                                                                           
      xmlhttp.open("GET","/stock/get_items_by_batch_number?number=" + batch_num,true);                      
      xmlhttp.send();
    }

</script>
