<script>
  function addPrinterIcon(){
    nav = document.getElementById('nav')
    img = document.createElement('img')
    img.src="/images/emblem_print.png"
    img.id='printer'
    img.onclick=function(){
      printReport();
    }
    nav.appendChild(img)
  }
  window.setTimeout("addPrinterIcon();", 50)

  function printReport(){
    jQuery.ajax({
      type: "POST",
      url: "/report/print_disposed_items_report",
      data: "start_date=<%=params[:date]['start']%>&end_date=<%=params[:date]['end']%>",
      success: function(){
        document.location.href="/"
      }

    });
  }
</script>

<style>
#printer{
  height: 60px;
  margin-left: 81%;
  margin-top: 10px;
  cursor: pointer;
  float: left;
}

.item-table {
  width: 98%;
  padding-top: 10px;
}

td {
  font-size: 16px;
}

th {
  font-size: 20;
}

.left-align {
  text-align: left;
  padding-left: 5px;
}

.right-align {
  text-align: right;
  padding-right: 5px;
}

.report-div {                                                                   
  overflow: auto;                                                               
  height: 550px;                                                                
}  

</style>

<div class="report-div">

<table class="item-table">
<tr>
  <th class='left-align'>Batch number</th>
  <th class='left-align'>Item code</th>
  <th class='left-align'>Item name</th>
  <th class='left-align'>Expired at</th>
  <th class='right-align'>Received quantity</th>
  <th class='right-align'>Disposed Quantity</th>
  <th class='left-align'>Date board off</th>
  <th class='left-align'>Reason</th>
</tr>
<%(@items || []).each do |item|%>
  <tr>
    <td class='left-align' style='width:10%;'><%=item[:batch_number] %></td>
    <td class='left-align' style='width:10%;'><%=item[:item_code] %></td>
    <td class='left-align' style='width:30%;'><%=item[:item_name] %></td>
    <td class='left-align' style='width:10%;'><%=item[:expiry_date].to_date.strftime('%d %b, %Y') rescue 'N/A' %></td>
    <td class='right-align' style='width:10%;'><%=item[:received_quantity] %></td>
    <td class='right-align' style='width:10%;'><%=item[:disposed_quantity] %></td>
    <td class='left-align' style='width:10%;'><%=item[:voided_at].to_date.strftime('%d %b, %Y') %></td>
    <td class='left-align'><%=item[:void_reason] %></td>
  </tr>
  <tr>
    <td colspan="8"><hr /><td>
  </tr>
<%end%>
</table>

</div>

<script>

  function setAttributes() {
    imgs = document.getElementsByTagName('img')
    for(var i = 0; i < imgs.length; i++){
      if(i > 0) {
        imgs[i].setAttribute("onclick","javascript:location='/';");
      }
    }
  }

  //setTimeout("setAttributes();",500);
</script>
