<%= render  :partial =>  "/layouts/top" %>

<script>
function showMsg(msg){
          alert(msg);
        }
 function ajaxRequest(control, url){
           var httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = function() {
                handleAjaxRequest(control, httpRequest);
            };
            try {
                httpRequest.open('GET', url, true);
                httpRequest.send(null);
            } catch(e){
            }
        }

        function handleAjaxRequest(control, aXMLHttpRequest) {
          if (!aXMLHttpRequest) return;

          if (aXMLHttpRequest.readyState == 4 && aXMLHttpRequest.status == 200) {

              var result = aXMLHttpRequest.responseText;

              if (control != null){
                control.innerHTML = result;
              } else {
                eval(result);

                window.location.reload();
              }
          }

        }
</script>

<table cellpadding=5 width='100%'>
  <tr>
    <td>
      <table cellpadding=5 width='100%'>
        <tr>
          <th style='border: 1px solid #ccc; background-color: #666; color: #eee;width:10%'>Item Code</th>
          <th style='border: 1px solid #ccc; background-color: #666; color: #eee;width:10%'>Item Name</th>
          <th style='border: 1px solid #ccc; background-color: #666; color: #eee;width:10%'>Item Type</th>
          <th style='border: 1px solid #ccc; background-color: #666; color: #eee;width:10%'>Item Category</th>
          <th style='border: 1px solid #ccc; background-color: #666; color: #eee;width:10%'>Item Expires?</th>
          <th style='border: 1px solid #ccc; background-color: #666; color: #eee;width:10%'>Item Unit</th>
          <th style='border: 1px solid #ccc; background-color: #666; color: #eee;width:10%'>Item Min Stock</th>
          <th style='border: 1px solid #ccc; background-color: #666; color: #eee;width:10%'>Item Max Stock</th>
          <th style='border: 1px solid #ccc; background-color: #666; color: #eee;width:10%'>Fast Moving?</th>
          <th style='border: 1px solid #ccc; background-color: #666; color: #eee;width:10%'>&nbsp;</th></tr>
      </table>
      <div style="height:400px; overflow: auto; width: 100%;">
        <table cellpadding=5 width='100%'>
          <% @products.each do |product| %>
              <tr>
                <td style='border: 1px solid #ccc;width:10%'><%= product.product_code rescue '' %></td>
                <td style='border: 1px solid #ccc;width:10%'><%= product.name rescue '' %></td>
                <td style='border: 1px solid #ccc;width:10%'><%= product.epics_product_type.name rescue '' %></td>
                <td style='border: 1px solid #ccc;width:10%'><%= product.epics_product_category.name rescue '' %></td>
                <td style='border: 1px solid #ccc;width:10%'><%= product.expire == true ? 'Yes' : 'No' rescue '' %></td>
                <td style='border: 1px solid #ccc;width:10%'><%= product.epics_product_units.name rescue '' %></td>
                <td style='border: 1px solid #ccc;width:10%'><%= product.min_stock rescue '&nbsp;' %></td>
                <td style='border: 1px solid #ccc;width:10%'><%= product.max_stock rescue '&nbsp;' %></td>
                <td style='border: 1px solid #ccc;width:10%'><%= product.movement == true ? 'Yes' : 'No' rescue '' %></td>
                <td style='border: 1px solid #ccc;width:9%'><table cellpadding=5 width='100%'><tr><td><img src='/images/pencil.png' onclick='window.location="/product/edit?product=" + <%= product.epics_products_id %>' style='padding-top: 3px; cursor: pointer;'/></td><td><img src='/images/delete.png' onclick='var response = confirm("Do you really want to delete the selected entry?"); if(response) ajaxRequest(null, "/product/void?product_id=" + <%= product.epics_products_id %>)' style='padding-top: 3px; cursor: pointer;'/></td></tr></table></td></tr>

          <% end %>
        </table>
      </div>
    </td>
  </tr>
      <a style="position: absolute; width:200px; left: 45%; top: 82%" class="buttons" onclick='window.location="/product/new"'>Add</a>
</table>

<style>
  .buttons {
    background-color: grey;
    border-bottom: 1px outset #EEEEEE;
    border-style: outset;
    border-top: 1px outset #EEEEEE;
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(0, 116, 204);
    background-image: -moz-linear-gradient(center top , rgb(0, 136, 204), rgb(0, 85, 204));
    background-repeat: repeat-x;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(0, 0, 0, 0.1);
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(0, 0, 0, 0.1);
    border-top-color: rgba(0, 0, 0, 0.1);
    font-size: 1.3em;
  }

</style>