<html>
  <head>
    <script>
      function addPrinterIcon(){
        nav = document.getElementById('nav')
        img = document.createElement('img')
        img.src="/images/emblem_print.png"
        img.id='printer'
        img.onclick=function(){
          printStockCard();
        }
        nav.appendChild(img)
      }
      window.setTimeout("addPrinterIcon();", 50)

      function printStockCard(){

        jQuery.ajax({
          type: "POST",
          url: "/product/print_stock_card",
          data: "id=<%=  params[:id] %>",
          success: function(){
            
          }

        });
      }

      function voidTransaction(name) {
        alert(name);
      }

    </script>

    <style>
     #printer{
        height: 65px;
        margin-left: 75%;
        cursor: pointer;
        float: left;
      }
     .tbody-header tr, td {
     /*   border-right: solid 1px black; 
        border-bottom: solid 1px black;
        border-left: solid 1px black;
        border-top: solid 1px black; */
        padding-left: 10px;
      }

      .stock_card {
        width: 100%;                                                                  
        border-collapse: collapse;                                                    
        margin-top: 10px;
      }

      .tbody-header td {
        border-style: solid;
        border-width: 1px;
        font-weight:bold;
      }

      .tbody-data td {
        border-style: solid;
        border-width: 1px;
      }

      .row_blue td {
        background-color: lightgrey;
      }

      .void-buttons {
        width: 75px;
        height: 75px;
      }

    </style>
  </head>
  <body>
   <div style="overflow:auto; height:590px">
    <table class="stock_card">
      <thead>
        <tr class="tbody-header">
          <td style="padding-left: 10px;">Product name</td>
          <td style="padding-left: 10px;font-weight: normal;"><%=@item.name%></td>
          <%if User.current.epics_user_role.name == "Administrator"%>
            <td colspan="68"></td>
          <%else%>
            <td colspan="67"></td>
          <%end%>
        </tr>
        <tr class="tbody-header">
          <td>CODE</td>
          <td style="padding-left: 10px;font-weight: normal;"><%=@item.product_code%></td>
          <td>Unit of issue</td>
          <%if User.current.epics_user_role.name == "Administrator"%>
            <td colspan="7" style="padding-left: 10px;font-weight: normal;"><%=@item.epics_product_units.name%></td>
          <%else%>
            <td colspan="6" style="padding-left: 10px;font-weight: normal;"><%=@item.epics_product_units.name%></td>
          <%end%>
        </tr>
        <tr class="tbody-header">
          <td>DATE<br />(A)</td>
          <td>Voucher To/From<br />(B)</td>
          <td>Quantity Received<br />(C)</td>
          <td>Quantity Issued<br />(D)</td>
          <td>Losses<br />(E)</td>
          <td>+Adjust<br />(F)</td>
          <td>-Adjust<br />(G)</td>
          <td>Quantity on Hand<br />(H)</td>
          <td>Remarks<br />(I)</td>
          <%if User.current.epics_user_role.name == "Administrator"%>
            <td>&nbsp;</td>
          <%end%>
        </tr>
      </thead>
      <tbody>

      <tr class="tbody-data">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <%if User.current.epics_user_role.name == "Administrator"%>
          <td>&nbsp;</td>
        <%end%>
      </tr>

      <%
      color = 'white'
      total_positives = 0
      total_negatives = 0
      (@trail || {}).sort_by {|x , y| x.to_time }.each do |date , attributes| 
          (attributes).each do |invoice_number , values|
            (values).each do |batch_number , data|
              (data).each do |remark , d|
                if color == 'white'
                  color = 'blue'
                else
                  color = 'white'
                end
                    
                total_positives += d[:received_quantity].to_f if d[:received_quantity]
                total_positives += d[:quantity_received].to_f if d[:quantity_received]

                total_negatives += d[:issued].to_f if d[:issued]
                total_negatives += d[:losses].to_f if d[:losses]
                total_negatives += d[:quantity_given_out].to_f if d[:quantity_given_out]

                current_quantity = (total_positives - total_negatives)

                if(current_quantity.to_s[-2..-1] == '.0')
                  current_quantity = current_quantity.to_i
                end
      %>
      <tr class="tbody-data row_<%=color%>">
        <td><%=date.to_date.strftime("%d-%b-%Y")%></td>
        <td><%=invoice_number%></td>
        <td><%=d[:received_quantity]%></td>
        <td><%=d[:issued]%></td>
        <td><%=d[:losses]%></td>
        <td><%=d[:quantity_received]%></td>
        <td><%=d[:quantity_given_out]%></td>
        <td><%=current_quantity%></td>
        <td><%=remark%></td>
        <%if User.current.epics_user_role.name == "Administrator"%>
          <td style="text-align: center; vertical-align: middle;">
            <%= image_tag("close.png", :class => 'void-buttons', 
              :onclick =>"voidTransaction('#{d[:transaction]}')") %>
          </td>
        <%end%>
      </tr>
      
          <%end
          end
        end
      end %>
      </tbody>
    </table>
  </div>
  </body>
</html>

