<html>
  <head>
    <script>
      function addPrinterIcon(){
        nav = document.getElementById('nav')
        img = document.createElement('img')
        img.src="/images/emblem_print.png"
        img.id='printer'
        img.onclick=function(){
          printStockCard();
        }
        nav.appendChild(img)
      }
      window.setTimeout("addPrinterIcon();", 50)

      function printStockCard(){

        jQuery.ajax({
          type: "POST",
          url: "/product/print_stock_card",
          data: "id=<%=  params[:id] %>",
          success: function(){
            alert('done');
          }

        });
      }
    </script>
    <style>
     #printer{
        height: 65px;
        margin-left: 75%;
        cursor: pointer;
        float: left;
      }
     .tbody-header tr, td {
     /*   border-right: solid 1px black; 
        border-bottom: solid 1px black;
        border-left: solid 1px black;
        border-top: solid 1px black; */
        padding-left: 10px;
      }

      .stock_card {
        width: 100%;                                                                  
        border-collapse: collapse;                                                    
        margin-top: 10px;
      }

      .tbody-header td {
        border-style: solid;
        border-width: 1px;
        font-weight:bold;
      }

      .tbody-data td {
        border-style: solid;
        border-width: 1px;
      }

      .row_blue td {
        background-color: lightgrey;
      }

    </style>
  </head>
  <body>
    <table class="stock_card">
      <thead>
        <tr class="tbody-header">
          <td style="padding-left: 10px;">Product name</td>
          <td style="padding-left: 10px;font-weight: normal;"><%=@item.name%></td>
          <td colspan="67"></td>
        </tr>
        <tr class="tbody-header">
          <td>CODE</td>
          <td style="padding-left: 10px;font-weight: normal;"><%=@item.product_code%></td>
          <td>Unit of issue</td>
          <td colspan="6" style="padding-left: 10px;font-weight: normal;"><%=@item.epics_product_units.name%></td>
        </tr>
        <tr class="tbody-header">
          <td>DATE<br />(A)</td>
          <td>Voucher To/From<br />(B)</td>
          <td>Quantity Received<br />(C)</td>
          <td>Quantity Issued<br />(D)</td>
          <td>Losses<br />(E)</td>
          <td>+Adjust<br />(F)</td>
          <td>-Adjust<br />(G)</td>
          <td>Quantity on Hand<br />(H)</td>
          <td>Remarks<br />(I)</td>
        </tr>
      </thead>
      <tbody>

      <tr class="tbody-data">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <%
      color = 'white'
      (@trail || {}).sort_by {|x,y| x }.each do |transaction , attributes| 
          (attributes).each do |remark , values|
            (values).each do |date , data|
              if color == 'white'
                color = 'blue'
              else
                color = 'white'
              end
      %>
      <tr class="tbody-data row_<%=color%>">
        <td><%=date.strftime("%d-%b-%Y")%></td>
        <td><%=data[:invoice_number]%></td>
        <td><%=data[:received_quantity]%></td>
        <td><%=data[:quantity_issued]%></td>
        <td><%=data[:losses]%></td>
        <td><%=data[:positive_adjustments]%></td>
        <td><%=data[:negative_adjustments]%></td>
        <td><%=data[:current_quantity]%></td>
        <td><%=remark%></td>
      </tr>
      
          <%end
        end
      end %>
      </tbody>
    </table>
  </body>
</html>
