<%= render  :partial =>  "/layouts/top" %>

<script>

</script>

<style>
.product-table {
  width: 100%;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  text-align: left;
}

.product-table td {
  border-style: solid;
  border-width: 1px;
}
</style>


<h1><%=@product.product_code%>:&nbsp;<%=@product.name%></h1>
<p><%=@product.epics_product_type.name%></p>
<div class="product-container">
<h4>Stock details:&nbsp;<%=@product.epics_product_units.name%></h4>
<table class="product-table">
  <tr>
    <th style="width: 15%;">Expiry date</th>
    <th style="width: 20%; text-align: right;padding-right: 10px;">Received quantity</th>
    <th style="width: 20%; text-align: right;padding-right: 10px;">Current quantity</th>
    <th style="width: 25%;">Location</th>
  </tr>
  <%(@product.epics_stock_details || []).each do |stock|%>
    <tr>
      <td><%=stock.epics_stock_expiry_date.strftime('%B %Y') rescue 'N/A'%></td>
      <td style="text-align: right;padding-right: 10px;"><%=stock.received_quantity%></td>
      <td style="text-align: right;padding-right: 10px;"><%=stock.current_quantity%></td>
      <td><%=stock.epics_location.name%></td>
    </tr>
  <%end%>
</table>

</div>
