<%= render :partial => "/layouts/top" %>
<%= javascript_include_tag 'jquery' %>
<%= stylesheet_link_tag "alert-popup" %>
<%= javascript_include_tag "alert-popup"%>

<script type="text/javascript">
    <!--
    function authorise(row_id)
    {

            jQuery.ajax({
                type:"POST",
                url: "/stock/authorize_transaction",
                data: "id=" + row_id,
                success: function(){
                    table = document.getElementById("pending")
                    count = table.rows.length
                    for(i=0; i < count; i++)
                    {
                        if (table.rows[i].id == row_id)
                        {
                            table.deleteRow(i)
                            break
                        }
                    }
                    hideLayer()
                }

            });


    }
    //-->
</script>
<style type="text/css">
    div.header{
        height: 45px;
        width: 100%;
        background-color: #FFDF33;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        padding-top: 15px;
    }
    td{
        font-size: 20px;
        text-align: left;

    }
    td.main{

        font-size: 23px;
        border: 0.01em solid gray;
        width: 250px;
        padding-left: 0.4em;
    }

    th.main{
        border: 0.01em solid black;
        width: 250px;
        height: 40px;
        font-size: 23px;
        padding-left: 0.4em;
    }
    tr.odd{
        background-color: #ABDDFC;
    }
    tr.even{
        background-color: #DAFF91;
    }

    .buttons,button{
        border-bottom: 1px outset #EEEEEE;
        border-style: outset;
        border-top: 1px outset #EEEEEE;
        color: white;
        display: block;
        padding: 14px;
        text-align: center;
        text-decoration: none;
        box-shadow:inset 0px 1px 0px 0px #bbdaf7;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
        background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
        background-color:#79bbff;
        -moz-border-radius:42px;
        -webkit-border-radius:42px;
        -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
        -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
        border-radius:42px;
        border:1px solid #84bbf3;
        border-bottom-color: rgba(0, 0, 0, 0.25);
        border-left-color-ltr-source: physical;
        border-left-color-rtl-source: physical;
        border-left-color-value: rgba(0, 0, 0, 0.1);
        border-right-color-ltr-source: physical;
        border-right-color-rtl-source: physical;
        border-right-color-value: rgba(0, 0, 0, 0.1);
        border-top-color: rgba(0, 0, 0, 0.1);
        font-size: 1.3em;
        font-weight:bold;
    }
    #borrowed_items_two {
        background-color: InactiveCaption;
        height: 395px;
        overflow-x: auto;
        border-style: outset;
        font-size: 20px;
        border-collapse: collapse;
    }

    .borrowed_items th{
        text-align: left;
        padding-left: 10px;
    }

    .borrowed_items td{
        text-align: left;
        padding-left: 10px;
    }

    .borrowed_items {
        border-collapse: collapse;
    }

</style>

<div class="header">

  Transactions Awaiting Authorization
</div>

<div style="width: 100%;">
  <table style="width: 99.9%">
    <tr>
      <th class="main">Transaction Type</th><th class="main">Corresponding Facility</th>
      <th class="main">Person To Authorize</th><th class="main">Processed By</th><th style="border: 0em">&nbsp</th>
    </tr>
  </table>
</div>
<div style="height:400px; width: 100%;overflow: auto;">
  <table id="pending"  style="width: 99.9%">
    <% @reminders.each do |key,details|%>
        <%#= raise transact.inspect %>
        <tr id ="<%= key %>" class="<%= cycle('odd','even') %>">
          <td class="main"><%= details["trans_type"] %></td><td class="main"><%= details["facility"] %></td>
          <td class="main"><%= details["authorizer"] %></td><td class="main"><%= details["processor"] %></td>
          <td style="background-color: white;"><button style="width: 100%" onclick="viewItems(<%= key %>)" > <span>View Details</span></button></td>

        </tr>
    <% end %>
  </table>
</div>



<div id="shadow" class="opaqueLayer"> </div>
<div id="question" class="questionLayer" style="font-size: 0.9em;">
</div>
</div>

<script>

    function viewItems(transaction_id, type) {

        showLayer();
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        }else{// code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange=function() {
            if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                var results = xmlhttp.responseText;
                if(results) {
                    popup = document.getElementById('question');
                    popup.innerHTML = results;
                }
            }
        }
        xmlhttp.open("GET","/stock/get_details_for_pending_trans?loan_id=" + transaction_id,true);
        xmlhttp.send();
    }

</script>
