<script type="text/javascript">
function showMsg(msg){
          alert(msg);
        }
 function ajaxRequest(control, url){
           var httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = function() {
                handleAjaxRequest(control, httpRequest);
            };
            try {
                httpRequest.open('GET', url, true);
                httpRequest.send(null);
            } catch(e){
            }
        }

        function handleAjaxRequest(control, aXMLHttpRequest) {
          if (!aXMLHttpRequest) return;

          if (aXMLHttpRequest.readyState == 4 && aXMLHttpRequest.status == 200) {

              var result = aXMLHttpRequest.responseText;

              if (control != null){
                control.innerHTML = result;
              } else {
                eval(result);

                window.location.reload();
              }
          }

        }
</script>

<table cellpadding=5 width='100%'>
  <tr>
    <td>
      <table cellpadding=5 width='100%'><tr>
          <th style='border: 1px solid #ccc; background-color: #666; color: #eee;'>Name</th>
          <th style='border: 1px solid #ccc; background-color: #666; color: #eee;'>Address</th>
          <th style='border: 1px solid #ccc; background-color: #666; color: #eee;'>Phone</th>
          <th style='border: 1px solid #ccc; background-color: #666; color: #eee;'>Local?</th>
          <th style='border: 1px solid #ccc; background-color: #666; color: #eee;'>Supplier Type</th>
          <th style='border: 1px solid #ccc; background-color: #666; color: #eee;'>Description</th>
          <th style='border: 1px solid #ccc; background-color: #666; color: #eee;'>&nbsp;</th>
        </tr>
        <% @suppliers.each do |supplier| %>
          <tr>
            <td style='border: 1px solid #ccc;'><%= supplier.name rescue '' %></td>
            <td style='border: 1px solid #ccc;'><%= supplier.address rescue '' %></td>
            <td style='border: 1px solid #ccc;'><%= supplier.phone_number rescue '' %></td>
            <td style='border: 1px solid #ccc;'><%= supplier.local == true ? "Yes" : "No" rescue '' %></td>
            <td style='border: 1px solid #ccc;'><%= EpicsSupplierType.find(supplier.epics_supplier_type_id).name %></td>
            <td style='border: 1px solid #ccc;'><%= supplier.description rescue '' %></td>
            <td style='border: 1px solid #ccc;'><table cellpadding=5 width='100%'><tr><td>
            <img src='/images/pencil.png' onclick='window.location="/supplier/edit?supplier=" + <%= supplier.epics_supplier_id %>' style='padding-top: 3px; cursor: pointer;'/></td>
            <td><img src='/images/delete.png' onclick='var response = confirm("Do you really want to delete the selected entry?"); if(response) ajaxRequest(null, "/supplier/void?supplier_id=" + <%= supplier.epics_supplier_id %>)' style='padding-top: 3px; cursor: pointer;'/>
            </td>
            </tr>
           </table>
          </td>
          </tr>

        <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <td align='center'>
      <button onclick='window.location="/supplier/new"'>Add</button></td>
  </tr>
</table>

