<html>
  <head>
    <title>Home</title>
    <style type="text/css">
      body {
        background-color: #fff;
        margin: 20px;
        font-family: "Nimbus Sans L", "Arial Narrow", sans-serif;
        overflow: hidden;
        color: #000;
        -moz-user-select: none;
      }

      .buttons-table td {
        text-align: center;
      }

      .buttons-table img {
        width: 128px;
        height: 128px;
      }

      .table-products {
        text-align: left;
      }

      .div-products {
        width: 98%;
        overflow: auto;
        border-width: 1px 0px 0px 0px;
        border-style: solid;
      }

      #records_length, #records_info, #records_filter {
        display: none;
      }

      .tr_blue td {
        background-color: rgb(196, 255, 196)
      }

      .tr_white td {
      }

    </style>

    <script>

    function dTable() {
    }


    </script>
  </head>
  <body>
    <table width="100%" cellspacing="0" cellpadding="10">
      <tr>
        <td style="width: 100px; border-bottom: 1px solid #5496ef;">
          <img alt="EPICS" src="/images/<%= (File.exists?("#{Rails.root}/public/images/app.png") ?
                   "app.png" : "baobab.png") %>" height="80" style="float: right;" />
        </td>
      </tr>
      <tr>
        <td colspan="6" style="padding: 0px;">
          <div id="container" style="width: 100%; height: 540px; overflow: auto;">


            <table class="table-header" style="width: 98% !important;">
              <tr>
                <th colspan="3" style="text-align: left; "><h3>Supplier Details</h3></th>
              </tr>
              <tr>
                <td style="width: 10%;">Supplier Name:</td><td>&nbsp;</td><td><%= @stock.epics_supplier.name %></td>
              </tr>
              <tr>
                <td style="width: 10%;">Batch Number:</td><td>&nbsp;</td><td><%= @stock.grn_number   %></td>
              </tr>
              <tr>
                <td style="width: 10%;">Delivered Date:</td><td>&nbsp;</td><td><%= @stock.grn_date.to_date.strftime("%d %B %Y")   %></td>
              </tr>
            </table>
    
            <br />
            <div class="div-products">

            <table class="table-products" style="width: 98% !important;">
              <thead> 
              <tr>
                <th style="width: 5%;background-color: silver;">Item Name</th>
                <th style="width: 5%;background-color: silver;">Item Code</th>
                <th style="width: 5%;background-color: silver;">Item Quantity</th>
                <th style="width: 5%;background-color: silver;">Expiry Date</th>
              </tr>
              </thead> 
              <tbody>
              <% 
              @stock_details.each do |stock_detail|   
              tr_class = cycle("blue", "white")
              %>
                <tr class="tr_<%=tr_class%>">
                  <td><%=  stock_detail.epics_product.name %></td>
                  <td><%=  stock_detail.epics_product.product_code rescue "Code not found"  %></td>
                  <td><%=  pluralize(stock_detail.received_quantity.to_s,stock_detail.epics_product.epics_product_units.name) %></td>
                  <td><%=  stock_detail.epics_stock_expiry_dates.expiry_date.strftime("%d - %b - %Y") rescue "does not expire" %></td>
                </tr>
              <% end %>
                
              </tbody> 
            </table>
    
            </div>
              
          </div>
        </td>
      </tr>

    </table>
  </body>
</html>

