<%= render  :partial =>  "/layouts/top" %>
<script type="text/javascript">

    function  setup(){

        document.getElementById('option').setAttribute('src', '/images/close.png')
    }
    setTimeout('setup()', 10)
</script>

<script>
  function removeFromReceiveCart(node){
    product_id = node.getAttribute('id');
    receive_product_id = 'receive_' + product_id
    jQuery.ajax({
      type: "POST",
      url: "/epics_exchange/remove_product_from_receive_cart",
      data: "product_id=" + product_id,
      success: function(){
        elements = document.getElementsByTagName("tr")
        for(i=0; i<elements.length; i++){
           if (elements[i].getAttribute('product_id')){
             if (elements[i].getAttribute('product_id') == receive_product_id){
               elements[i].parentNode.removeChild(elements[i]);
               break;
             }
           }
        }
      }

    });
  }

  function removeFromIssueCart(node){
    product_id = node.getAttribute('id');
    issue_product_id = 'issue_' + product_id
    jQuery.ajax({
      type: "POST",
      url: "/epics_exchange/remove_product_from_issue_cart",
      data: "product_id=" + product_id,
      success: function(){
        elements = document.getElementsByTagName("tr")
        for(i=0; i<elements.length; i++){
           if (elements[i].getAttribute('product_id')){
             if (elements[i].getAttribute('product_id') == issue_product_id){
               elements[i].parentNode.removeChild(elements[i]);
               break;
             }
           }
        }
      }

    });
  }
</script>
<script>
  function exchangeItems() {

  submitForm = document.createElement("FORM");
  submitForm.setAttribute("type","hidden");
  document.body.appendChild(submitForm);
  submitForm.method = "POST";

  <%(@issue_cart.items || []).each do |cart| %>
    newElement = document.createElement("input")
    newElement.setAttribute("name",'issue[issue_quantity]["<%=cart.name%>"]')
    newElement.setAttribute("type","hidden");
    newElement.value = "<%=cart.quantity%>";
    submitForm.appendChild(newElement);

    <%if cart.expiry_date%>
      newElement = document.createElement("input")
      newElement.setAttribute("name",'issue[issue_expiry_date]["<%=cart.name%>"]')
      newElement.setAttribute("type","hidden");
      newElement.value = "<%=cart.expiry_date%>";
      submitForm.appendChild(newElement);
    <%end%>
  <%end%>

<%(@receive_cart.items || []).each do |cart| %>
    newElement = document.createElement("input")
    newElement.setAttribute("name",'receive[receive_quantity]["<%=cart.name%>"]')
    newElement.setAttribute("type","hidden");
    newElement.value = "<%=cart.quantity%>";
    submitForm.appendChild(newElement);

    <%if cart.expiry_date%>
      newElement = document.createElement("input")
      newElement.setAttribute("name",'receive[receive_expirly_date]["<%=cart.name%>"]')
      newElement.setAttribute("type","hidden");
      newElement.value = "<%=cart.expiry_date%>";
      submitForm.appendChild(newElement);
    <%end%>
  <%end%>
      
  newElement = document.createElement("input")
  newElement.setAttribute("name",'issue_to')
  newElement.setAttribute("type","hidden");
  newElement.value = "<%=EpicsLocation.where('name' => session[:exchange][:exchange_facility])[0].id%>";
  submitForm.appendChild(newElement);

  submitForm.action= "exchange";
  submitForm.submit();

}

function sendData(){
  confirm = document.getElementById('confirm')
  confirm.setAttribute("onclick","exchangeItems();")
}

window.setTimeout("sendData();",300);

</script>
<style>
    .left-content {
        float: left;
        width:80%;
    }

    .right-content {
        float: right;
        width:20%;
    }

    .main-content {
        width: 98%;
    }

    .menu-buttons {
        padding: 10px;
        float: right;
        width: 30%;
        margin-right: 10px;
        border-style: solid;
        border-width: 0px 0px 0px 1px;
    }

    .menu-buttons a {
        width: 95%;
    }

    .page-title{
        background-color: #ffffff;
        font-size: 30px;
    }
    .buttons {
        border-bottom: 1px outset #EEEEEE;
        border-style: outset;
        border-top: 1px outset #EEEEEE;
        color: white;
        display: block;
        padding: 14px;
        text-align: center;
        text-decoration: none;
        box-shadow:inset 0px 1px 0px 0px #bbdaf7;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
        background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
        background-color:#79bbff;
        -moz-border-radius:42px;
        -webkit-border-radius:42px;
        -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
        -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
        border-radius:42px;
        border:1px solid #84bbf3;
        border-bottom-color: rgba(0, 0, 0, 0.25);
        border-left-color-ltr-source: physical;
        border-left-color-rtl-source: physical;
        border-left-color-value: rgba(0, 0, 0, 0.1);
        border-right-color-ltr-source: physical;
        border-right-color-rtl-source: physical;
        border-right-color-value: rgba(0, 0, 0, 0.1);
        border-top-color: rgba(0, 0, 0, 0.1);
        font-size: 1.3em;
        font-weight:bold;
    }

    .div-products {
        width: 98%;
        overflow: auto;
        border-width: 1px 0px 0px 0px;
        border-style: solid;
    }
    .tr_blue td {
        background-color: rgb(196, 255, 196)
    }

    .tr_white td {
    }

    .div-receiving {
      float: left;
      width: 42%;
      text-align: left;
    }

    .div-issuing {
      float: right;
      width: 42%;
      text-align: left;
    }
    .img{
    height: 45px;
    }
</style>

<div class="main-content">

  <div class="left-content">
    <table style="width:100%;">
      <tr>
        <th colspan="3" style="text-align: left;font-size: 20px;">Exchange Facility Details</th>
      </tr>
      <tr>
        <th colspan="3" style="text-align: left;">&nbsp;</th>
      </tr>
      <tr>
        <td style="text-align: left; width: 20%;font-size: 18px;font-weight: bold;">Facility Name</td><td>:</td>
        <td style="text-align: left; font-size: 18px;"><%= session[:exchange][:exchange_facility] rescue " "   %></td>
      </tr>
      <tr>
        <td style="text-align: left; width: 20%;font-size: 18px;font-weight: bold;">Exchange Date</td>
        <td>:</td>
        <td style="text-align: left; font-size: 18px;"><%= session[:exchange][:exchange_date].to_date.strftime("%d, %B %Y") %></td>
      </tr>

    </table>

    <br />
    <br />


    <div class="div-products">

      <div class="div-receiving">
        <table style="width:100%;" class="receiving">
          <caption style="text-align: center;font-weight: bold; background-color: silver;">Receiving</caption>
          <tr>
            <th style="width: 55%;background-color: silver;">Item</th>
            <th style="background-color: silver;text-align: center">Quantity</th>
            <th style="background-color: silver;width: 10%">&nbsp;</th>
          </tr>
        </table>
      </div>

      <div class="div-issuing">
        <table style="width:100%;" class="issuing">
          <caption  style="text-align: center;font-weight: bold;background-color: silver;">Issuing</caption>
          <tr>
            <th style="width: 55%;background-color: silver;">Item </th>
            <th style="background-color: silver;text-align: center">Quantity</th>
            <th style="background-color: silver;width: 10%">&nbsp;</th>
          </tr>
        </table>
      </div>
      <div class="div-receiving" style="height:300px;overflow:auto;">
        <table style="width:100%;" class="receiving">
          <%(@receive_cart.items || []).each do |item|%>
              <tr product_id="receive_<%= item.product.id %>">
                <td style="width: 55%"><%=item.product.name%></td>
                <td style="text-align: center"><%=item.quantity%></td>
                <td style="width: 10%;"><%= image_tag("close.png",:id => item.product.id,
                  :class=>"img", :onclick=>"removeFromReceiveCart(this)") %></td>
              </tr>
          <%end%>
        </table>
      </div>
      <div class="div-issuing" style="height:300px;overflow:auto;">
        <table style="width:100%;" class="receiving">
          <%(@issue_cart.items || []).each do |item|%>
              <tr product_id="issue_<%= item.product.id %>">
                <td style="width: 55%"><%=item.product.name%></td>
                <td style="text-align: center"><%=item.quantity%></td>
                <td style="width: 10%;"><%= image_tag("close.png",:id => item.product.id,
                  :class=>"img", :onclick=>"removeFromIssueCart(this)") %></td>
              </tr>
          <%end%>
        </table>
      </div>
    </div>

  </div>


  <div class="right-content">

    <table style="width: 100%;">
      <tr style="line-height: 50px;">
        <td><%= link_to "Receive Item", '/epics_exchange/receive_item', :class => 'buttons' %></td>
      </tr>
      <tr style="line-height: 50px;">
        <td><%= link_to "Issue item", '/epics_exchange/give_item', :class => 'buttons' %></td>
      </tr>
      <tr style="line-height: 50px;">
        <td>&nbsp;</td>
      </tr>
      <tr style="line-height: 50px;">
        <td><a id="confirm" class="buttons">Confirm Exchange</a></td>
      </tr>

    </table>

  </div>


</div>
