<%= render  :partial =>  "/layouts/top" %>
<html>
  <head>
    <title>Home</title>
    <script>
      function addPrinterIcon(){
        nav = document.getElementById('custom')
        img = document.createElement('img')
        img.src="/images/emblem_print.png"
        img.id='printer'
        img.onclick=function(){
            window.location="/epics_exchange/print_exchanged_items_from_view?stock_id=<%= EpicsStock.last.id %>&exchange_details=<%=params[:exchange_details]%>"
          }
        nav.appendChild(img)
      }
      window.setTimeout("addPrinterIcon();", 50)


    </script>
    <style type="text/css">
      #printer{
        height: 60px;
        margin-left: 75%;
        cursor: pointer;
        float: left;
      }
      
      body {
        background-color: #fff;
        margin: 20px;
        font-family: "Nimbus Sans L", "Arial Narrow", sans-serif;
        overflow: hidden;
        color: #000;
        -moz-user-select: none;
      }

      .buttons-table td {
        text-align: center;
      }

      .buttons-table img {
        width: 128px;
        height: 128px;
      }

      .table-products {
        text-align: left;
      }

      .div-products {
        width: 98%;
        overflow: auto;
        border-width: 1px 0px 0px 0px;
        border-style: solid;
      }

      #records_length, #records_info, #records_filter {
        display: none;
      }

      .tr_blue td {
        background-color: rgb(196, 255, 196)
      }

      .tr_white td {
      }

      .div-products {
        width: 98%;
        overflow: auto;
        border-width: 1px 0px 0px 0px;
        border-style: solid;
    }
    .tr_blue td {
        background-color: rgb(196, 255, 196)
    }

    .tr_white td {
    }

    .div-receiving {
      float: left;
      width: 42%;
      text-align: left;
    }

    .div-issuing {
      float: right;
      width: 42%;
      text-align: left;
    }
      .page-title{
          background-color: #ffffff;
          font-size: 30px;
      }

    </style>

    <script>

    function dTable() {
    }


    </script>
  </head>
  <body onUnload="alert('m')">
    <table width="100%" cellspacing="0" cellpadding="10">

      <tr>
        <td colspan="6" style="padding: 0px;">
          <div id="container" style="width: 100%; height: 540px; overflow: auto;">


            <table class="table-header" style="width: 98% !important;">
              <tr>
                <th colspan="3" style="text-align: left; "><h3>Exchange Details</h3></th>
              </tr>
              <tr>
                <td style="width: 10%;">Facility Name</td><td>:</td><td><%= @exchange_details[:exchange_facility] %></td>
              </tr>
              <tr>
                <td style="width: 10%;">Requisition Issue Voucher</td><td>:</td><td><%= @exchange_details[:exchange_invoice_number]   %></td>
              </tr>
              <tr>
                <td style="width: 10%;">Delivered Date</td><td>:</td><td><%= @exchange_details[:exchange_date].to_date.strftime("%d %B %Y")   %></td>
              </tr>
            </table>
    
            <br />
            <div class="left-content">

    <br />
    <br />
    <br />

    <div class="div-products">

      <div class="div-receiving">
        <table style="width:100%;" class="receiving">
          <caption  style="text-align: center;font-weight: bold;background-color: silver;">Issuing</caption>
          <tr>
            <th style="background-color: silver;">Item </th>
            <th style="background-color: silver;text-align: center">Quantity</th>
          </tr>
          <%(@issued_cart.items || []).each do |item|%>
            <tr>
              <td><%=item.product.name%></td>
              <td style="text-align: center"><%=item.quantity%></td>
            </tr>
          <%end%>
        </table>
      </div>

      <div class="div-issuing">
        <table style="width:100%;" class="issuing">
          <caption  style="text-align: center;font-weight: bold;background-color: silver;">Receiving</caption>
          <tr>
            <th style="background-color: silver;">Item</th>
            <th style="background-color: silver;text-align: center">Quantity</th>
          </tr>
          <%(@received_cart.items || []).each do |item|%>
              <tr>
                <td><%=item.product.name%></td>
                <td style="text-align: center"><%=item.quantity%></td>
              </tr>
          <%end%>
        </table>
      </div>

    </div>

  </div>
              
          </div>
        </td>
      </tr>

    </table>
  </body>
</html>

